/Teme/Anul 2/Tehnici Avansate de Programare/Tema Greedy/DEI_1/build/
/Teme/Anul 2/Tehnici Avansate de Programare/Tema Divide et Impera/DEI_2/nbproject/private/
/Teme/Anul 2/Tehnici Avansate de Programare/Tema Divide et Impera/DEI_2/build/
/Teme/Anul 2/Tehnici Avansate de Programare/Tema Divide et Impera/DEi_3/nbproject/private/
/Teme/Anul 2/Tehnici Avansate de Programare/Tema Divide et Impera/DEi_3/build/
/Teme/Anul 2/Tehnici Avansate de Programare/Tema Divide et Impera/DEI_4/nbproject/private/
/Teme/Anul 2/Tehnici Avansate de Programare/Tema Divide et Impera/DEI_4/build/
/Teme/Anul 2/Tehnici Avansate de Programare/Tema Programare Dinamica/PD_1/nbproject/private/
/Teme/Anul 2/Tehnici Avansate de Programare/Tema Programare Dinamica/PD_1/build/
/Teme/Anul 2/Tehnici Avansate de Programare/Tema Programare Dinamica/PD_2/nbproject/private/
/Teme/Anul 2/Tehnici Avansate de Programare/Tema Programare Dinamica/PD_2/build/
/Teme/Anul 2/Semestrul 2/Tehnici Avansate de Programare/Tema Programare Dinamica/PD_4/nbproject/private/
/Teme/Anul 2/Semestrul 2/Tehnici Avansate de Programare/Tema Programare Dinamica/PD_4/build/
/Teme/Anul 2/Semestrul 2/Tehnici Avansate de Programare/Tema Programare Dinamica/PD_5/nbproject/private/
/Teme/Anul 2/Semestrul 2/Tehnici Avansate de Programare/Tema Programare Dinamica/PD_5/build/